{% extends 'main.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
<section class="heroimage">
    <div class="heroimage">
      <img
        src="https://sophialearning.s3.amazonaws.com/markup_pictures/42752/file/57b93aa7124f0d46f9f90de527637eb6.png"
        alt="Maple tree"
        title="Maple tree"
      />
    </div>
  </section>
  <section class="section-container section-container--padded">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit veritatis itaque inventore eveniet nobis repudiandae excepturi voluptates dolorem adipisci voluptatum dicta optio id, quos, repellendus non doloribus sed consequuntur reiciendis?0
    </p>
  </section>
  <section class="section-container section-container--padded">
    <h2>Business hours</h2>
    <p>Mon-Fri: 9am-7pm</p>
    <p>Sat-Sun: 10am-4pm</p>
  </section>
  <section class="section-container section-container--padded">
    {% include 'components/contact_us_form.html' %}
  </section>
{% endblock %}