{% extends 'main.html' %} {% block title %} Home page {% endblock %} {% block
content %}
<section class="heroimage">
  <div class="heroimage">
    <img
      src="https://sophialearning.s3.amazonaws.com/markup_pictures/42752/file/57b93aa7124f0d46f9f90de527637eb6.png"
      alt="Maple tree"
      title="Maple tree"
    />
  </div>
</section>
<section class="promo">
  <h2>Check out our new flower arrangements!</h2>
  <img
    src="https://sophialearning.s3.amazonaws.com/markup_pictures/42757/file/80b2bb90b263c1d7f5fb78a4fdca7898.png"
    alt="Potting soil"
    title="Potting soil"
  />
  <a href="/gallery_page.html">View our gallery</a>
</section>
<section class="products">
  <h2>Products</h2>
  <!-- <template id="product-template">
      <img src="" alt=""> -->
  <div class="product_list">
    {% for product in products %} {% include 'components/product_card.html' %}
    {% endfor %}
  </div>
</section>
<section class="shopping_perks">
  <h2>Shopping perks</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, harum nemo
    excepturi ipsam ad ratione nam quod iusto veniam temporibus omnis maiores
    vel neque sint eveniet. Voluptatum optio neque quas!
  </p>
</section>
{% endblock %}
