{% extends 'main.html' %} {% block title %} Home page {% endblock %} {% block
content %}
{% include 'components/hero_image.html' %}
{% include 'components/promocard.html' %}
<section class="products section-container">
  <h2>Products</h2>
  <!-- <template id="product-template">
      <img src="" alt=""> -->
  <div class="product_list">
    {% for product in products[:6] %} 
      {% include 'components/product_card.html' %}
    {% endfor %}
  </div>
</section>
<section class="shopping_perks section-container">
  <h2>Shopping perks</h2>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, harum nemo
    excepturi ipsam ad ratione nam quod iusto veniam temporibus omnis maiores
    vel neque sint eveniet. Voluptatum optio neque quash!
  </p>
</section>
{% include 'components/categories.html' %}
{% endblock %}
