{% extends 'main.html' %} {% block title %} Other Page {% endblock %} 
{% block content %}
<section class="section-container section-container--padded customer-spotlight">
  <h2>Customer Spotlight</h2>
  <div class="testimonial-container">
    {% for testimonial in testimonials %}
    <div class="testimonial">
      <img src="{{ testimonial.image_url }}" alt="customer" srcset="">
      <div class="testimonial-content">
        <h3>{{ testimonial.name }}</h3>
        <p>{{ testimonial.testimonial }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}