<footer>
  <div class="subscribe">
    <form action="post">
      <h3>Subscribe to our newsletter</h3>
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email">
      <button type="submit">Subscribe!</button>
    </form>
  </div>
  <div class="social">
    <a href="https://www.facebook.com">Facebook</a>
    <a href="https://www.twitter.com">Twitter</a>
    <a href="https://www.instagram.com">Instagram</a>
  </div>
  <div class="links">
    {% for link in nav_links %}
      <a href="{{ link.href }}" {% if current_page == link.page %}aria-current="page"{% endif %}>
        {{ link.text }}
      </a>
    {% endfor %}
  </div>
</footer>
