<header>
  <div class="logo">
    <img
      class="logo"
      src="https://sophialearning.s3.amazonaws.com/markup_pictures/38738/file/3dbea61d9a9c9959624d706f053b1108.png"
      alt="Berry Blossom, 790D1D"
      title="Bloom Valley Nursery"
    />
    <h1 class="logo">Bloom Valley Nursery</h1>
  </div>
  <nav>
    <a href="/" aria-current="page">Home</a>
    <a href="/gallery_page.html" aria-current="page">Gallery</a>
    <a href="/about_us_page.html" aria-current="page">About Us</a>
    <a href="/other_page.html">Other page</a>
  </nav>
</header>
