<header>
  <div class="logo">
    <img
      class="logo"
      src="https://sophialearning.s3.amazonaws.com/markup_pictures/38738/file/3dbea61d9a9c9959624d706f053b1108.png"
      alt="Berry Blossom, 790D1D"
      title="Bloom Valley Nursery"
    />
    <h1 class="logo">Bloom Valley Nursery</h1>
  </div>
  <nav>
    {% for link in nav_links %}
      <a href="{{ link.href }}" {% if current_page == link.page %}aria-current="page"{% endif %}>
        {{ link.text }}
      </a>
    {% endfor %}
  </nav>
</header>
