<section class="heroimages section-container">
    <div class="heroimage">
    <div class="heroimage">
        <img src="https://sophialearning.s3.amazonaws.com/markup_pictures/42752/file/57b93aa7124f0d46f9f90de527637eb6.png"
            alt="Maple tree" title="Maple tree" />
    </div>
    <div class="hero-text">
        <h2><a href="other_page.html">Client Highlights</a></h2>
        <p><a href="other_page.html" class="body-strong">Clyde Smith created a wonderful garden. Check it out here...</a></p>
    </div>
</div>
</section>