<section class="heroimage">
    <div class="heroimage">
        <img src="https://sophialearning.s3.amazonaws.com/markup_pictures/42752/file/57b93aa7124f0d46f9f90de527637eb6.png"
            alt="Maple tree" title="Maple tree" />
    </div>
    <div class="hero-text">
        <h1><a href="other_page.html">Client Highlights</a></h1>
        <p><a href="other_page.html">Clyde Smith created a wonderful garden. Check it out here...</a></p>
    </div>
</section>

<style>
.heroimage {
    position: relative;
    text-align: center;
}

.heroimage img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

.hero-text a {
    color: white;
    text-decoration: none;
}

.hero-text a:hover {
    text-decoration: underline;
}
</style>