<section class="promo section-container">
<h2>Today's Promo</h2>
<div class="heroimage">
    <div class="heroimage">
        <img src="https://sophialearning.s3.amazonaws.com/markup_pictures/42757/file/80b2bb90b263c1d7f5fb78a4fdca7898.png"
            alt="Potting soil" title="Potting soil" />
    </div>
    <div class="hero-text">
        <h2><a href="/gallery_page.html">Check out our new flower arrangements!</a></h2>
        <a href="/gallery_page.html">View our gallery</a>
    </div>
</div>
</section>